.offer-wrapper {
  padding: 1rem;
  background-color: #0c151c;
  min-height: 100vh;
}

.download-btn-wrapper {
  text-align: center;
  margin-bottom: 1rem;
}

.download-btn {
  background-color: #63e6be;
  color: #101820;
  padding: 0.6rem 1.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.download-btn:hover {
  background-color: #45c9a1;
}
.letter-header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 1rem;
}

.letter-logo {
  height: 60px;
  width: auto;
}
